.industries__container {
  background-color: #ededed;
  width: 100%;
}
.industries {
  padding: 80px 278px 80px 278px;
}

/*===== title text ======*/
.industries__title {
  text-align: center;
}
.industries__title h1 {
  font-size: 50px;
  color: #09090a;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 100px;
  font-weight: 900;
}

/*===== industries items ======*/
.industries__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

/* ========== MEDIA QUERIES (TABLET DEVICE) ========== */
@media only screen and (max-width: 1024px) {
  .industries {
    padding: 70px 50px 70px 50px;
  }
  .industries__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ========== MEDIA QUERIES (MOBILE DEVICE) ========== */
@media only screen and (max-width: 640px) {
  .industries {
    padding: 50px 30px;
  }
  .industries__title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .industries__items {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
